@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(./Assests/plant.svg);
  background-size: cover;
  background-position: center;
  font-family: inter;
}

.navbar {
  width: 100%;
  text-align: center;
  font-family: inter;
 
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-top: 2%;
  padding-right: 5%;
  font-family: inter;
}

.navbar ul li {
  align-items: center;
  display: inline;
  margin-left: 50px;
  position: relative;
  font-family: inter;
}

.navbar ul li a {
  text-transform: uppercase;
  color: black;
  display: inline-block;
  text-decoration: none;
  font-family: inter;
  font-size: 35px;
}

.navbar ul li a .first-word {
  color: #fff;
}

.home {
  display: flex;
}

#gateway {
  width: 40%;
  display: flex;
  font-size: 65px;
  margin-top: 15%;
  margin-left: 42%;
  background-image: linear-gradient(43deg, #ffe500 0%, #36d100);
  -webkit-background-clip: text;
  color: transparent;
  font-family: Inria Serif;
}

#download-btn {
  width: 20%;
  height: 10vh;
  font-size: 34px;
  background: black;
  color: #fff;
  cursor: pointer;
  align-items: center;
  border-radius: 20px;
  margin-left: 60%;
  margin-top: 2%;
  font-family: inter;
 
}

#menu {
  display: flex;
}

.investment {
  display: flex;
  align-items: center;
  padding: 20px;
  align-items: flex-start;
  width: 87%;
  justify-content: space-between;
  gap: 10%;
  font-size: 28px;
}

.plant-on-money {
  width: 550px;
  height: auto;
  margin-top: 60px;
  margin-left: 15%;
}

#tranformgreen {
  display: flex;
  margin-left: 6%;
  margin-bottom: 70px;
  margin-top: 100px;
  font-size: 37px;
  font-family: Inria Serif;
}

#plantp {
  margin-left: 12%;
  font-family: inter;
}

.fa-solid fa-check{
  font-family: Inter;
}

.clight {
  background-image: url(./Assests/circle-light.svg);
  width: 1368px;
  height: 553px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.chooseplantpay {
  padding-top: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 54px;
  color: rgb(255, 255, 255);
  width: 10%;
  margin-top: 20%;
  margin-left: 8%;
  font-family: Inria Serif;
}
.cpara {
  display: flex;
  color: #fff;
  flex-direction: column;
  width: 36%;
  gap: 15px;
  font-size: 15px;
  margin-left: 8%;
  margin-top: 10%;
}

#simp-para {
  display: flex;
  font-size: 21px;
  padding-left: 39px;
  width: 79%;
  font-family: inter;
}
#simp-header {
  display: flex;
  padding-left: 32px;
  font-size: 32px;
  padding: 25px;
}

.grid-container {
  display: grid;
  grid-template-columns: 638px 638px;
  grid-template-rows: 740px;
  gap: 20px;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

.grid-container > div {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
  font-size: 34px;
  justify-content: center;
  gap: 49px;
  border-radius: 30px;
}

.choose-your-plant {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 28px;
}

.plan-head{
font-family: Inria Serif;
font-size: 40px;
}

.fa-check:before {
  color: #36d100;
  display: flex;
  margin-right: 20px;
}

.bluebg {
  background-image: url(./Assests/bluebg.svg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.white-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  width: 60%;
  padding: 25px 30px;
  justify-content: center;
}

.title {
  color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 78px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
}

.title::before {
  content: " ";
  position: absolute;
  height: 3px;
  width: 30px;
  left: 0;
  bottom: 0;
}

#send-message {
  display: flex;
  color: #3e5c4e;
  font-size: 38px;
  padding-left: 16px;
  font-family:Inika ;
}

.white-form form .user-details {
  display: grid;

  grid-template-columns: 308px 308px;
  grid-template-rows: 46px;
  gap: 20px;
}

form .user-details .input-form {
  display: grid;
  color: #3e5c4e;
  grid-template-columns: 308px 308px;
  grid-template-rows: 40px;
  gap: 20px;
  padding: 20px;
}

#message {
  grid-template-columns: 308px;
  grid-template-rows: 40px;
}

#send-button {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  border-radius: 40px;
  width: 29%;
  height: 7vh;
  font-family: Inter;
}

.black-grid {
  display: flex;
  background-color: black;
  color: #eeeeee;
  flex-direction: column;
  gap: 57px;
  text-align: center;
  align-items: center;
  padding-top:130px;


}
.subpar {
  display: flex;
}

.con {
  display: inline-block;
  font-size: 96px;
  color: #fff;
  font-family:Inria Serif;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 37px;
  color: #3e5c4e;
  text-align: center;
}

.input-form {
  display: flex;
  text-align: center;
  padding-left: 20px;
}
.user-details ::placeholder {
  color: #3e5c4e;
  padding-left: 10px;
  font-family: Inter;
}
#send-msg {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 16px;
  margin-left: 18px;
}

#black-header {
  color: #fff;
  font-size: 36px;
}

#address {
  font-size: 12.7px;
  color: #FFFFFF ;
}
.input-form {
  padding-left: 10px;
}


.Policy{
  color: #ffffff;
  gap: 20px;
}

.icons{
  display: flex;
  gap: 25px;
  justify-content: center

}

.fa-brands {
  display: flex;
  font-size: 36px;
}
.fa-brands fa-instagram{
 width: 10%;
}

#address-num{
  font-size: 15.24px;
}

.snd-btn-div{
  display: flex;
  justify-content: right;
}


.returns{
  display: flex;
  gap: 230px;
  color:#D9D9D9;
  font-size: 30px;
  font-family:Inria Serif;
}